<%- include("header")%>
<%- include("nav")%>
<link rel="stylesheet" href="stylesheets/reset.css">

<form action="/reset" method="post">
    <input type="password" name="oldpassword" placeholder="Enter  your old password"><br>
    <input type="password" name="newpassword" placeholder="Enter your new password"><br>
    <button>set password</button>
</form>

<%- include("footer")%>