<%- include("header.ejs")%>
<link rel="stylesheet" href="stylesheets/login.css">
  
  <div id="page5">
    <div id="book" class="book1"></div>
    <div id="book" class="book2"></div>
    <div id="book" class="book3"></div>
    <div id="book" class="book4"></div>
    <div id="book" class="book5"></div>
    <div id="book" class="book6"></div>
    <div id="book" class="book7"></div>
    <div id="book" class="book8"></div>
    <div id="book" class="book9"></div>
    <div id="book" class="book10"></div>
    <div id="book" class="book11"></div>
    <div id="book" class="book12"></div>
    <div id="book" class="book13"></div>
    <div id="book" class="book14"></div>
    <div id="book" class="book15"></div>
    <div id="book" class="book16"></div>
    <div id="overlay2">

      <div class="container">
        <div class="content">
            <!--pinterest logo-->
            <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo" class="img1" />
            <p class="header">Log in to Your Account</p>
    
          <form action="/register" method="post">
            <input type="text" name="username" placeholder="John" class="detail"> <br> <br>
            <input type="text" name="fullname" placeholder="John Deo" class="detail"> <br> <br>
            <input type="email" name="email" placeholder="john@gmail.com" class="detail"> <br> <br>
            <input type="number" name="contect" placeholder="123456987" class="detail"> <br> <br>
            <input type="password" name="password" placeholder="Enter your password" class="detail"> <br> <br>
            <button class="btn int">Create Account</button> <br><br>
          </form>
          
          <h2>if! You Don't have An Account </h2> 
          <a id="login" href="/login">login</a>
         
        </div>
      </div>
    </div>
    



</div>

  <%- include("footer.ejs")%>


