*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    color: #000;
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 2vw 4vw;
}
#main>h1{
    text-align: center;
    margin: 1vw 0;
}

.main>a{
  text-decoration: none;
  color: black;
}


nav{
    width: 100%;
    background-color: rgb(60, 55, 55);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .6vw 4vw;
}

#logout{
    background-color: red;
    padding: .3vw .8vw;
    border-radius: .3vw;
}

nav a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2vw;
}

.cards{
    /* margin-top: 2vw ; */
    margin: 0 1vw;
    width: 15vw;
    height: 65vh;
    position: relative;
    /* background-color: salmon; */
}

.img-div{
    border-radius: .4vw;
    overflow: hidden;
    width: 100%;
    height: 60%;
}

.img-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards h1{
    margin: 1vw 0;
    font-size: 1.2vw;
    width: 12vw;
}
.cards h2{
    /* margin: .1vw 0; */
    font-size: 1vw;
    opacity: .7;
}

.cards h6{
    margin: 1vw 0;
    font-size: 1.2vw;
}

.cards a{
    text-decoration: none;
    color: #fff;
    padding: .3vw 1vw;
    background-color: red;
    border-radius: .3vw;
    font-size: 1.2vw;
}

#del{
    background-color: rgb(100, 247, 100);
    color: black;
    margin-left: 3.5vw;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 5%;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 99;
    color: #111111;
    background-color: white;
  }
  
  .icon {
    height: 32px;
    width: 32px;
  }
  
  .search-icon {
    height: 24px;
    width: 24px;
    margin-right: 10px;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    padding: 0px 10px;
    align-items: center;
  }
  


li a{
    font-size: 17px;
      padding: 15px 15px;
    text-decoration: none;
    color: #111111;
    transition: all ease .5s;
  }
  
  .search-bar {
    display: flex;
    width: 50%;
    padding-left: 25px;
    align-items: center;
    background-color: #e9e9e9;
    border-radius: 32px;
    height: 50px;
  }
  
  .nav-icon {
    margin: 0px 8px;
    height: 28px;
    width: 28px;
  }
  
  .nav-icons {
    margin-left: 10px;
  }
  
  .arrow-icon {
    width: 32px;
    height: 32px;
  }
  
  li:hover a{
    background-color: #111111;
    color: #e9e9e9;
    padding: 15px 15px;
    border-radius: 25px;
    cursor: pointer;
  }
  
  input {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  img {
    border-radius: 10px;
  }
  
  img:hover {
    filter: brightness(0.7);
    cursor: pointer;
  }

  #logout{
    padding: .5vw 1vw;
    font-size: 17px;
    text-decoration: none;
    color: #fff;
  }